## Indexing Elements

Extract the letter 'B' from "Bingo!".

In [5]:
x="Bingo!"
print(x[0])

B

Extract the letter "u" from "Constitution".

In [6]:
y="Constitution"
print(y[-5])

u

## Line Continuation

Add a backslash in the code below, so it is a one-line code. Observe the change in the result.

In [10]:
15 + 31
- 26

-26

In [15]:
15 + 31\
- 26

20

## Structure Your Code with Indentation

Use indentation properly to print the result of the function with an argument of 3.

In [31]:
def ten(x):
    x = 10
    return x
    print (ten(3))

In [32]:
def ten(x):
    x = 10
    return x
print (ten(3))

10

## Comparison Operators

Verify that 25 is smaller than 30.

In [25]:
25<=30

True

Verify that 5 multiplied by 3 is less than or equal to 5 to the power of 3.

In [26]:
5*3<=5**3

True

Verify that 100 is equal to 10 square.

In [28]:
100==10**2

True

Verify that 53 is not equal to 46.

In [30]:
53!=46

True

## Logical and Identity Operators

Check whether the following code is True or False.

False or not True and not False

In [33]:
False or not True and not False

False

True and not False and True or not False

In [34]:
True and not False and True or not False

True

True or False and False

In [35]:
True or False and False

True

False and True or False

In [36]:
False and True or False

False

Using an identity operator, verify that 10 is not the same as 12.

In [39]:
10!=12

True

Using an identity operator, verify that 50 is the same as 50.

In [40]:
50==50

True